<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Compendium</title>
</head>
<body>
    <nav>
        <h3>University Compendium</h3>
        <ul>
            <li><a href='/'>All Universities</a></li>
            <li><a href='/halls'>All Halls</a></li>
        </ul>
    </nav>
    <h1>{{ this_university.name }} in {{ this_university.city }}</h1>
    <p>Halls:</p>
    {# Figure out how to list each hall linked to this university! #}
    <ul>
        {% for current_hall in this_university.halls %}
        <li>{{ current_hall.name }}</li>
        {% endfor %}
    </ul>
    <!-- Tuesday we'll start listing majors and adding majors not linked -->
</body>
</html>