<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <title>API demo</title>
</head>
<body>
    <h1>API demo</h1>
    <p>Search by name:</p>
    <form id="searchForm" onsubmit="searchAPI(event)">
        <div>
            <label>Enter name:</label>
            <input type="text" name="name">
        </div>
        <input type="submit" value="Search">
    </form>
    <div id="searchResults"></div>
</body>
</html>