<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view_all_page_styles.css') }}">
    <title>Add an athlete</title>
</head>
<body>
    <nav>
        <a href="#">The Athletes Database</a>
        <ul>
            <li><a href="/athletes/new">New athlete</a></li>
        </ul>
    </nav>
    <!-- You'll build either a table or an unordered list that will show all the athletes from the database.
    Make sure you include the id, full name and the sport at a minimum. -->
</body>
</html>