<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Compendium</title>
</head>
<body>
    <nav>
        <h3>University Compendium</h3>
        <ul>
            <li><a href='/'>All Universities</a></li>
            <li><a href='/halls'>All Halls</a></li>
        </ul>
    </nav>
    <h1>{{ this_university.name }} in {{ this_university.city }}</h1>
    <p>Halls:</p>
    {# Figure out how to list each hall linked to this university! #}
    <ul>
        {% for current_hall in this_university.halls %}
        <li>{{ current_hall.name }}</li>
        {% endfor %}
    </ul>
    <p>Majors:</p>
    <ul>
        {% for each_major in this_university.majors %}
        <li>{{ each_major.name }} 
            <form action="/majors/{{ each_major.id }}/remove_from_university" method="POST">
                <input type="hidden" value="{{ this_university.id }}" name="university_id">
                <input type="hidden" value="{{ each_major.id }}" name="major_id">
                <input type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
    </ul>
    <p>Add a major to {{ this_university.name }}:</p>
    <form action="/majors/add_to_university" method="POST">
        <input type="hidden" value="{{ this_university.id }}" name="university_id">
        <!-- For now, we'll grab all the majors - and later, we'll only display the majors NOT linked to a university -->
        <select name="major_id">
            {% for this_major in all_majors %}
            <option value="{{ this_major.id }}">{{ this_major.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>