<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All creators</title>
</head>
<body>
    <nav>
        <h1>Content Creators Compendium</h1>
        <ul>
            <li><a href="/creators/new">Add creator</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Full name</th>
                <th>Screen name</th>
                <th>Genre</th>
                <th>Channel name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ session["first_name"] }} {{ session["last_name"] }}</td>
                <td>{{ session["screen_name"] }}</td>
                <td>{{ session["genre"] }}</td>
                <td>{{ session["channel_name"] }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>