<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Compendium</title>
</head>
<body>
    <nav>
        <h3>University Compendium</h3>
        <ul>
            <li><a href='/universities'>All Universities</a></li>
        </ul>
    </nav>
    <h1>All halls</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>University</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {# Display each hall here! #}
            <tr>
                <td>Placeholder Hall</td>
                <td>Placeholder University</td>
                <td><a href='/halls/???/edit'>Edit</a> <a href='/halls/???/delete'>Delete</a></td>
            </tr>
        </tbody>
    </table>
    <h2>Add a hall:</h2>
    <!-- There are pieces missing from this form!-->
    <form>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="university">University:</label>
            <!-- Display dropdown menu of all universities here! -->
        </div>
        <input type="submit" value="Add">
    </form>
</body>
</html>