<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Compendium</title>
</head>
<body>
    <nav>
        <h3>University Compendium</h3>
        <ul>
            <li><a href='/universities'>All Universities</a></li>
            <li><a href='/halls'>All Halls</a></li>
        </ul>
    </nav>
    <h1>Edit Placeholder University:</h1>
    <!-- There are pieces missing from this form!-->
    <form>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="university">University:</label>
            <!-- Display dropdown menu of all universities here! -->
        </div>
        <input type="submit" value="Edit">
    </form>
</body>
</html>