<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All creators</title>
</head>
<body>
    <nav>
        <h1>Content Creators Compendium</h1>
        <ul>
            <li><a href="/creators/new">Add creator</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Full name</th>
                <th>Screen name</th>
                <th>Genre</th>
                <th>Channel name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Changed to a loop that grabs from a list of Creator objects -->
            {% for each_creator in all_creators %}
            <tr>
                <td>{{ each_creator.first_name }} {{ each_creator.last_name }}</td>
                <td>{{ each_creator.screen_name }}</td>
                <td>{{ each_creator.genre }}</td>
                <td>{{ each_creator.channel_name }}</td>
                <td><a href="/creators/{{ each_creator.id }}">View</a> <a href="/creators/{{ each_creator.id }}/edit">Edit</a>
                <form action="/creators/{{ each_creator.id }}/delete" method="POST"><input type="submit" value="Delete"></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>