<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Content Creators Compendium!</title>
</head>
<body>
    <h1>Welcome to the Content Creators Compendium!</h1>
    <p>Enter your name to add a content creator!</p>
    <form action="/login" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="name" name="name" id="name">
        </div>
        <input type="submit" value="Enter">
    </form>
</body>
</html>