<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View content</title>
</head>
<body>
    <nav>
        <p>Content Creators Compendium</p>
        <ul>
            <li><a href='/creators'>All creators</a></li>
            <li><a href='/contents'>All contents</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
    </nav>
    <h1>About {{ this_post.title }}:</h1>
    <p>Media type: {{ this_post.media_type }}</p>
    <p>Release date: {{ this_post.recorded_date }}</p>
    <p>Creator of this content: {{ this_post.creator.first_name }} {{ this_post.creator.last_name }}</p>
    <p>Description: {{ this_post.description }}</p>
    <p><a href="/contents/{{ this_post.id }}/edit">Edit</a>
        <form action="/contents/{{ this_post.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </p>
</body>
</html>